<a href="https://colab.research.google.com/github/Sheila-Otieno/Data-analysis/blob/main/Real_Estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Real_Estate_Sales_2001-2020_GL.csv to Real_Estate_Sales_2001-2020_GL.csv

In [ ]:
#import numpy and pandass libraries
import pandas as pd
import numpy as np

In [ ]:
#read csv file
data = pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')

<ipython-input-3-f6480e306fc5>:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')

In [ ]:
data.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [ ]:
#check for data types
data.dtypes

Serial Number         int64
List Year             int64
Date Recorded        object
Town                 object
Address              object
Assessed Value      float64
Sale Amount         float64
Sales Ratio         float64
Property Type        object
Residential Type     object
Non Use Code         object
Assessor Remarks     object
OPM remarks          object
Location             object
dtype: object

In [ ]:
#change type of year from object to datateime
data['List Year'] = pd.to_datetime(data['List Year'], format = '%Y')

In [ ]:
data.dtypes

Serial Number                int64
List Year           datetime64[ns]
Date Recorded               object
Town                        object
Address                     object
Assessed Value             float64
Sale Amount                float64
Sales Ratio                float64
Property Type               object
Residential Type            object
Non Use Code                object
Assessor Remarks            object
OPM remarks                 object
Location                    object
dtype: object

In [ ]:
#change type of date recorded from object to datateime
data['Date Recorded'] = pd.to_datetime(data['Date Recorded'], errors="coerce")

In [ ]:
data.dtypes

Serial Number                int64
List Year           datetime64[ns]
Date Recorded       datetime64[ns]
Town                        object
Address                     object
Assessed Value             float64
Sale Amount                float64
Sales Ratio                float64
Property Type               object
Residential Type            object
Non Use Code                object
Assessor Remarks            object
OPM remarks                 object
Location                    object
dtype: object

In [ ]:
##data['Date Recorded'] = data['Date Recorded'].dt.strftime("%d/%m/%Y")

In [ ]:
data['Date Recorded'] = pd.to_datetime(data['Date Recorded'], format='%d%m%Y', errors="coerce")

In [ ]:
data.dtypes

Serial Number                int64
List Year           datetime64[ns]
Date Recorded       datetime64[ns]
Town                        object
Address                     object
Assessed Value             float64
Sale Amount                float64
Sales Ratio                float64
Property Type               object
Residential Type            object
Non Use Code                object
Assessor Remarks            object
OPM remarks                 object
Location                    object
dtype: object

In [ ]:
data.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020-01-01,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020-01-01,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020-01-01,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020-01-01,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020-01-01,2021-07-02,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [ ]:
##drop null values
data.dropna()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
806,200594,2020-01-01,2021-02-16,Danbury,8 HICKORY ST,121600.0,146216.0,0.831646,Residential,Single Family,25 - Other,I11192,HOUSE HAS SETTLED PER MLS,POINT (-73.44696 41.41179)
981,200562,2020-01-01,2021-02-03,Danbury,19 MILL RD,263600.0,415000.0,0.635181,Residential,Single Family,25 - Other,AFFORDABLE HOUSING / B15001-20-19,INCORRECT DATA PER TOWN RECORDS,POINT (-73.53692 41.38822)
1529,200260,2020-01-01,2020-11-23,Danbury,32 COALPIT HILL RD #4,84900.0,181778.0,0.467053,Residential,Condo,25 - Other,J16087-4,MULTIPLE UNIT SALE,POINT (-73.43796 41.38549)
2167,200148,2020-01-01,2021-01-05,Avon,23 CHEPACHET ROAD,165260.0,430000.0,0.384326,Residential,Condo,07 - Change in Property,Includes 120&124 Pequot Road,TOTAL RENOVATION PER MLS,POINT (-72.91856 41.77954)
2460,200000411,2020-01-01,2021-09-10,Brookfield,11 BRISTOL PATH,3770.0,180000.0,0.020944,Residential,Condo,25 - Other,GARAGE SOLD W/ CONDO,ALSO SEE #200000410,POINT (-73.39124 41.46698)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988393,190349,2019-01-01,2020-08-17,New London,91 WEST ST,73640.0,68000.0,1.082941,Single Family,Single Family,25 - Other,RATIO,NEEDS RENOVATION PER MLS - SOLD AS IS - CASH S...,POINT (-72.1084 41.36121)
988666,190101,2019-01-01,2020-06-17,Westbrook,181 HAMMOCK RD N,69790.0,35000.0,1.994000,Single Family,Single Family,25 - Other,"RANCH, LOC/RR/S&S",PER MLS LOOKING FOR CASH OFFER AS HOUSE NEEDS ...,POINT (-72.46828 41.2832)
988904,19033,2019-01-01,2019-10-28,Watertown,129 CAYUGA DR,68200.0,157000.0,0.434400,Single Family,Single Family,25 - Other,SALE PRICE INCLUDES LOT #12CAB ON CAYUGA DR,INCLUDES #19034,POINT (-73.13627 41.5838)
989290,190836,2019-01-01,2020-06-08,Norwalk,15 CANNON ST,398690.0,465000.0,0.857398,Single Family,Single Family,25 - Other,OP CODE #22-GROSS PURCH PRICE INSUFF. TO PAY M...,SHORT SALE PER MLS,POINT (-73.40877 41.1261)
993143,190342,2019-01-01,2020-01-06,Norwalk,27 MARLIN DR,263830.0,205000.0,1.286976,Single Family,Single Family,25 - Other,5-58-401-0,PER MLS SOLD AS IS WITH FOUNDATION ISSUES,POINT (-73.43547 41.11261)

In [ ]:
data.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020-01-01,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020-01-01,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020-01-01,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020-01-01,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020-01-01,2021-07-02,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Real_estate_sales.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  data.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).